# Buffalo Link Station GL
#

# architecture
BR2_arm=y
BR2_arm926t=y
BR2_ARM_EABI=y
BR2_ARM_SOFT_FLOAT=y

# kernel
BR2_KERNEL_HEADERS_3_0=y
BR2_DEFAULT_KERNEL_HEADERS="3.0.101"

# toolchain
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_INET_IPV6=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PTHREADS_OLD=y

# packages
BR2_PREFER_STATIC_LIB=y
BR2_PACKAGE_IBRDTND=y
BR2_PACKAGE_IBRDTN_TOOLS=y

