# Architecture
BR2_arm=y

# uClibc features
BR2_INSTALL_LIBSTDCPP=y
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_INET_IPV6=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
BR2_PREFER_STATIC_LIB=y

# packages
BR2_PACKAGE_IBRDTND=y
BR2_PACKAGE_IBRDTN_TOOLS=y

# filesystem
BR2_TARGET_ROOTFS_TAR=y

