# Architecture
BR2_i386=y

# uClibc features
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_INET_IPV6=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PREFER_STATIC_LIB=y
BR2_PTHREADS_OLD=y

# packages
BR2_PACKAGE_IBRDTND=y
BR2_PACKAGE_IBRDTN_TOOLS=y

# filesystem
BR2_TARGET_ROOTFS_TAR=y

